@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  font-family:"Inter";
  margin-left: -30px; /* gutter size offset */
  width: auto;
  
}


.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

model-viewer{
  width:100%;
  height:700px;
  background-color: transparent;
  border-style: solid;
  border-color: #373737;
  border-width: 1px;
  border-radius: 13px;
  }






  
/* LIGHT MODE 

.background
{
background: rgb(255, 250, 247);
}

.border
{
  border-color: #00000024;
  border-width: 2px;
  border-radius: 0px;
  
}

.connect-button
{
  background: black;
  border-radius: 100px;
  font-family: Inter;
  font-weight: 500;
  color:seashell;
  border-color: black;
  border-width: 2px;
}

.connect-button-connected
{
  color: white;
  border-radius: 100px;
  background-color: black;
  font-family: IBM Plex Mono;
  font-weight: 500;
  border-color: black;
}

.text
{
  color:rgb(0, 0, 0);
  font-family: Inter;
}

.heading
{
  color:rgb(0, 0, 0);
  font-family: Inter;
  font-weight: 600;
}

.background-hover {

  background: rgb(255, 255, 255);
}
.text-large
{
  font-size: 16pt;
}

.vertical-align
{
  padding-top: auto;
  padding-bottom: auto;
}
.center {
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

.buy-button
{
  color: seashell;
  background:rgb(0, 0, 0);
  border-radius: 0;
}

.makeoffer-button
{
  color: #000000;
  border-radius: 0;
}

.rainbow-text {
  -webkit-animation: text-color 20s infinite;
  animation: text-color 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}

.scrollable-element::-webkit-scrollbar {
  color: transparent;
}

@keyframes text-color {
  0% {
      color: #ff0000
  }

  40% {
      color: #fff200
  }

  80% {
     color: #00ff95
  }
  100% {
      color: #2f00ff
  }
}





*/

.background
{
background: rgb(11,11,11);
}

.border
{
  border-color: #373737;
  border-width: 1px;
  border-radius: 13px;
  
}

.connect-button
{
  background: white;
  border-radius: 100px;
  font-family: Inter;
  font-weight: 500;
}

.connect-button-connected
{
  background: transparent;
  color: white;
  border-radius: 100px;
  font-family: Inter;
  border-color: #373737;
  font-weight: 500;
}

.text
{
  color:rgb(255, 255, 255);
  font-family: Inter;
}

.text-large
{
  font-size: 16pt;
}

.heading
{
  color: seashell;
  font-family: Inter;
  font-weight: 600;
}

.background-hover {

  background: rgb(255, 255, 255);
}

.center {
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

.buy-button
{
  color: black;
  background:rgb(255, 255, 255);
}

.makeoffer-button
{
  color: rgb(255, 255, 255);
}

.rainbow-text {
  -webkit-animation: text-color 20s infinite;
  animation: text-color 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}

.scrollable-element::-webkit-scrollbar {
  color: transparent;
}

@keyframes text-color {
  0% {
      color: #ff0000
  }

  40% {
      color: #fff200
  }

  80% {
     color: #00ff95
  }
  100% {
      color: #2f00ff
  }
}

.margin {

  margin: .5em;
}

.margin-left {
  margin-left: auto;
}

.margin-right {
  margin-right: auto;
}

.column {
  max-width: 50%;
}