@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Obvia';
  src: url('/fonts/obvia/obvia_medium-webfont.woff2') format('woff2'),
    url('/fonts/obvia/obvia_bold-webfont.woff2') format('woff2');
  font-display: swap;
  font-weight: 400 500 700;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  font-family:"Inter";
  margin-left: -30px; /* gutter size offset */
  width: auto;
  
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
model-viewer{
  width:100%;
  height:700px;
  background-color: transparent;
  }

/* DARK MODE */

.background
{
background: rgb(0, 0, 0);
}

.border
{
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 0px;
}

.connect-button
{
  background:white;
  border-radius: 100px;
  font-family: Inter;
  font-weight: 500;
}

.connect-button-connected
{
  background:rgb(0, 0, 0);
  color: white;
  border-radius: 100px;
  font-family: Inter;
  font-weight: 500;
}

.text
{
  color:rgb(255, 255, 255);
  font-family: Inter;
}

.background-hover {

  background: rgb(255, 255, 255);
}
.text-large
{
  font-size: 16pt;
}

.vertical-align
{
  padding-top: auto;
  padding-bottom: auto;
}
.center {
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

.buy-button
{
  color: black;
  background:white;
}

.rainbow-text {
  -webkit-animation: text-color 20s infinite;
  animation: text-color 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}

.scrollable-element::-webkit-scrollbar {
  color: transparent;
}

@keyframes text-color {
  0% {
      color: #ff0000
  }

  40% {
      color: #fff200
  }

  80% {
     color: #00ff95
  }
  100% {
      color: #2f00ff
  }
}
/* LIGHT MODE

.background
{
background: White;
}

.border
{
  border-color: black;
  border: (1px);
  border-radius: 12px;
}

.text
{
  color: black;
}

.text-large
{
  font-size: 16pt;
} */


/* test mode 
.background
{
background: rgb(0, 0, 0);
}

.border
{
  border-color: rgb(106, 255, 0);
  border: (2px);
  border-radius: 0px;
}

.text
{
  color:rgb(106, 255, 0);
  font-family: IBM Plex Mono;
}

.text-large
{
  font-size: 20pt;
} */