@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  font-family: 'IBM Plex Mono', Inter;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  
}


.masonry-grid_column {
  padding-left: 14px;
  padding-right: 14px; /* gutter size */
  background-clip: padding-box;
}

model-viewer{
  width:100%;
  height:700px;
  background-color: transparent;
  border-style: solid;
  border-color: #373737;
  border-width: 1px;
  border-radius: 13px;
  }






  
/* LIGHT MODE 

.background
{
background: rgb(255, 250, 247);
}

.border
{
  border-color: #00000024;
  border-width: 2px;
  border-radius: 0px;
  
}

.connect-button
{
  background: black;
  border-radius: 100px;
  font-family: Inter;
  font-weight: 500;
  color:seashell;
  border-color: black;
  border-width: 2px;
}

.connect-button-connected
{
  color: white;
  border-radius: 100px;
  background-color: black;
  font-family: IBM Plex Mono;
  font-weight: 500;
  border-color: black;
}

.text
{
  color:rgb(0, 0, 0);
  font-family: Inter;
}

.heading
{
  color:rgb(0, 0, 0);
  font-family: Inter;
  font-weight: 600;
}

.background-hover {

  background: rgb(255, 255, 255);
}
.text-large
{
  font-size: 16pt;
}

.vertical-align
{
  padding-top: auto;
  padding-bottom: auto;
}
.center {
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

.buy-button
{
  color: seashell;
  background:rgb(0, 0, 0);
  border-radius: 0;
}

.makeoffer-button
{
  color: #000000;
  border-radius: 0;
}

.rainbow-text {
  -webkit-animation: text-color 20s infinite;
  animation: text-color 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}

.scrollable-element::-webkit-scrollbar {
  color: transparent;
}

@keyframes text-color {
  0% {
      color: #ff0000
  }

  40% {
      color: #fff200
  }

  80% {
     color: #00ff95
  }
  100% {
      color: #2f00ff
  }
}





*/


.background
{
background: #121212;
}

.border
{
  border-color: #373737;
  border-width: 1px;
  border-radius: 13px;
  
}

.navbar {
  top: 0;
  position: relative;
  width: 100%;
}

.connect-button
{
  background: white;
  border-radius: 100px;
  font-family: 'IBM Plex Mono', Inter;
  font-weight: 500;
}

.connect-button-connected
{
  background: transparent;
  color: white;
  border-radius: 100px;
  font-family: 'IBM Plex Mono', Inter;
  border-color: #373737;
  font-weight: 500;
}

.text
{
  color:rgb(255, 255, 255);
  font-family: 'IBM Plex Mono', Inter;
}

.text-large
{
  font-family: 'IBM Plex Mono', Inter;
  font-size: 16pt;
}

.heading
{
  color: seashell;
  font-family: 'IBM Plex Mono', Inter;
  font-weight: 600;
}

.background-hover {

  background: rgb(255, 255, 255);
}

.center {
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

.buy-button
{
  color: black;
  background: #9cc069;
  border-width: 0px;
  border-radius: 11px;
}

.makeoffer-button
{
  color: rgb(255, 255, 255);
  background-color: #252525;
  border-color: transparent;
  border-radius: 11px;

}


.rainbow-text {
  -webkit-animation: text-color 20s infinite;
  animation: text-color 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}



@keyframes text-color {
  0% {
      color: #ff0000
  }

  40% {
      color: #fff200
  }

  80% {
     color: #00ff95
  }
  100% {
      color: #2f00ff
  }
}

.margin {

  margin: .5em;
}

.margin-left {
  margin-left: auto;
}

.margin-right {
  margin-right: auto;
}

.column {
  max-width: 50%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.navbar {
  top: 0;
  position: relative;
  width: 100%;
}

.border-b {
  border-color: #373737;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.py-2 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.px-2 {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.blink {
  animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.grey {
  color: rgb(92, 92, 92);
}

.home-screen {
  margin-left: auto;
  padding-right: 1em;
}
.connectbutton {

  background-color: white;
  
}


.pointer {
  cursor: pointer;
}